


.viewBox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-basis: content;
  

  width: 50vw;
  height: auto;                
  min-height: 0;
  box-sizing: border-box;
  padding: 3vh;  
  position: absolute;
  top: 50%;                   
  left: 50%;             
  transform: translate(-50%, -50%);  

  border-radius: 40px;
  border: 5px solid rgba(245, 245, 245, 0.4);

  background: radial-gradient(circle, rgba(209, 202, 182, 0.603), rgba(209, 202, 182, 0.212));
  backdrop-filter: blur(1px); 
}

.next, .done{
    z-index: 5;

    font-size: 3vh;
    padding:5px 10px;

    position: absolute;
    bottom: 3%;
    right: 3%;
}

.dialogueText{
    color: rgb(61, 26, 15);
    font-weight: bold;
    font-size: 2vw;

    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;  
    align-self: flex-start;          

    overflow-wrap: break-word; 
    word-break: break-word;
    line-height: 1.2;
    text-align: center;
    
    flex-shrink: 0;
}