.dialogue{

    display: block;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
    align-content: center;

    height: auto;
    width: 100%;
    
}


.viewBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50vw;
  height: auto;               /* Allows height to expand dynamically */
  min-height: 120px;
  box-sizing: border-box;
  padding: 24px 80px 24px 40px; /* Padding ensures clearance from walls & Next button */
  
  z-index: 4;
  position: absolute;
  top: 50%;                   /* Center relative to top */
  left: 50%;             
  transform: translate(-50%, -50%); /* Keeps full container centered */

  border-radius: 40px;
  border: 5px solid rgba(245, 245, 245, 0.4);

  background: radial-gradient(circle, rgba(209, 202, 182, 0.603), rgba(209, 202, 182, 0.212));
  backdrop-filter: blur(1px); 
}

.next, .done{
    z-index: 5;

    font-size: 3vh;
    padding:5px 10px;

    position: absolute;
    bottom: 3%;
    right: 3%;
}

.dialogueText{
color: rgb(61, 26, 15);
  font-weight: bold;
  font-size: 2vw;

  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;            

  overflow-wrap: break-word; 
  word-break: break-word;
  line-height: 1.2;
  text-align: center;
  inset: 0;

}